table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .add-new {
    margin-top: -25px;
    float: right;
  }
  
  .deleteCell {
    display: none;
  }
  
  tr:hover .deleteCell{
   display: block;
   cursor: pointer;
  }
  
  #textinput{
    width:150px;
    height:30px;
    font-size: 16px;
    /* text-align: center; */
    border:1px solid lightgray;
    border-radius: 5px;
  }
  
  #textinput:focus + .ul{
    visibility: visible;
  }
  .ul{
    margin:0;
    /* display: none; */
    /* visibility: hidden; */
    position: absolute;
  }
  
  .li {
    border:1px solid lightgray;
    border-top:none;
    padding:5px 0;
    margin:0px -40px;
    background: white;
    z-index:999;
    min-width:150px;
    min-height: 30px;
    /* text-align: center; */
    cursor: pointer;
  }
  .li:hover{
    background: lightblue;
  }
  