div.container {
  width: 80%;
  /* background: white; */
  margin: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.add-new {
  position: relative;
  float: right;
  top: 20;
}

.deleteCell {
  display: none;
}

tr:hover>.deleteCell {
  display: block;
  cursor: pointer;
}

#textinput {
  width: 200px;
  height: 30px;
  font-size: 16px;
  /* text-align: center; */
  border: 1px solid lightgray;
  border-radius: 5px;
}

#textinput:focus+.ul {
  visibility: visible;
}

.ul {
  padding: 5px 0;
  margin: 0;
  position: absolute;
  max-height: 300px;
  border-radius: 5px;
  overflow-y: scroll;
  list-style: none;
  border: 1px solid lightgray;
}

.li {
  border: none;
  padding: 5px;
  margin: 0px 0px;
  word-wrap: break-word;
  background: white;
  z-index: 999;
  min-width: 200px;
  max-width: 200px;
  color: black;
  font-size: 12px;
  min-height: 35px;
  text-align: left;
  cursor: pointer;
}

.li:hover {
  background: gainsboro;
}

#header:focus .format-tools-div, .format-tools-div:target .format-tools-div {
    display: block;
    position: absolute;
    top:30;
}

.format-tools {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 2px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.format-tools:hover {
  background: #f7f7f7;
}

.format-tools-div {
  position: absolute;
  top:30;
  /* display: none;  */
  background: white;
  padding: 5px;
  width: fit-content;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
.active{
  background: #f7f7f7;
}

tr td, tr th{
  border:1px solid lightgray;
}